img.grayscale {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .6s ease;
    -webkit-backface-visibility: hidden;
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
