//----------------------------------------------
// Mast
//----------------------------------------------
.mast {
  @extend %text-center;

  &__text {
    margin: {
      top: 0.5em;
      bottom: 0;
    }

    font-size: 1.1em;
  }
}

.settings_hover {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
#bebas {
    font-family: 'Bebas Neue', $font, sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
#alata {
  font-family: 'Alata', $font, sans-serif;
}

li span {
  position: relative;
  left: -10px;
}

#post_title{
  font-family: 'Bebas Neue';
  font-size: 30pt;
  font-weight: bold;
}

#image_no {
  font-family: $font;
  font-size: 12pt;
  font-weight: bold;
}

#post_description {
  font-family: $font;
  font-size: 15pt;
}

#settings {
  font-family: $font;
  font-size: 12pt;
  font-weight: bold
}

#kit {
  font-family:'Bebas Neue';
  font-size: 14pt;
  font-weight: bold;
}

.profilepic{
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 50%;
}
